.card{
    transition: all ease .2s;
    overflow: hidden;
}

.card>a>img:hover{
    transform: scale(1.15);
}

img{
    transition: all ease.3s;
    width: 100%;
}
.card{
    justify-content: center;
}

@media screen and (max-width:760px) {
    body{
        padding:10px;
    }
}
