:root{
  --size:9;  
  --size2:9.3;  
}
body{
padding:0px 10px;
}
#fire{
width: 1px;
height: 1px;
transform:scale(var(--size)); 
animation: fire 2s infinite;

}
#fury{
width: 1px;
height: 1px;
transform:scale(var(--size));
/*   border-radius:0px 1px 0px 0px; */

}

@keyframes fire{
0%{transform: scale(var(--size)) translateY(.17em) translateX(0em)}
50%{transform: scale(var(--size2)) translateY(-.1em) translateX(-.05em)}
100%{transform: scale(var(--size)) translateY(0.17em) translateX(0em)}
}

