:root{
    --size:11;
    
}
body{
  padding:0px 10px;
}
#fire{
  width: 1px;
  height: 1px;
  transform:scale(var(--size)); 
  
}
#fury{
  width: 1px;
  height: 1px;
  transform:scale(var(--size));
/*   border-radius:0px 1px 0px 0px; */
  
}

@media screen and (max-width:760px) {
  :root{
    --size:7; 
  }
}