:root{
    --fondo :#fff;
    --size:40px;
}


body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}


.block{
    height: var(--size);
    width: var(--size);
}

.line{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.black{
    background: #34323E;
}

.light-red{
    background: #A64664;
}
.red{
    background: #A13B3B;
}

.cream{
background: #E2DCCC;   
}

.light-cream{
    background: #F0EFE7;   
}
.white{
    background: #FFFFFF;
}

.orange-1{
    background:#C38165;
}

.orange-2{
    background:#D0976D;
}

.orange-3{
    background: #D5A175;
}

.orange-4{
    background: #C0795F;
}




.back{
    position: fixed;
    right:25px;
    top:25px;
    padding:5px 12px;
    border:1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease .2s;
}

.back:hover{
    transform: scale(1.1);
}


.contenedor-2{
    display: flex;
    justify-content: space-around;
}
.size-2{
    width: 40%;
}
.text-side{
    width: 45%;
}



@media screen and (max-width: 760px) {
    :root{
        --size:20px!important;
    }
    
    body{
        width: 100%!important;
        padding: 10px;
    }
    .contenedor{
        width: 100%;
        flex-direction: column;
    }

    

    .contenedor-2{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .size-2{
        width: 100%;
    }
    .text-side{
        width: 100%;
    }
    
}
